<div class="container-fluid row  p-3">
    <h1 class="text-center">Services Goals</h1>
    <div *ngFor="let goal of goals index as i" class="card col-md-3 p-3 m-3" style="width: 18rem;">
        <div class="card-body ">
            <h5 class="card-title">{{goal.name}}</h5>
            <p class="card-text">{{goal.description}}</p>
            <p>{{goal.date | date}}</p>
        </div>

        <div *ngIf="goal.complete; then done else notDone"></div>
        <ng-template #done>
            <div class="alert alert-success" role="alert">
               Completed!
            </div>
            <fa-icon class="text-danger" (click)="deleteGoal(i)" [icon]="faTrash"></fa-icon>
        </ng-template>
        <ng-template #notDone>
            <div class="d-flex justify-content-between">
                <fa-icon class="text-success" (click)="complete(i)" [icon]="faCheck"></fa-icon>
                <fa-icon class="text-danger" (click)="deleteGoal(i)" [icon]="faTrash"></fa-icon>
            </div>
        </ng-template>
















    </div>
</div>